.form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
}

.register-form {
        border: 1px solid #CEDFDF;
        padding: 30px;
        background: #CEDFDF;

}